rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Only authenticated users can upload
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
